/* Style for Desktop (screen widths larger than or equal to 960px) */
@media screen and (min-width: 960px) {
  .tab {
    display: flex;
    justify-content: space-around;
  }

  .tab button {
    flex: 1;
    padding: 14px 16px;
    font-size: 17px;
  }

  .tabcontent {
    display: none;
    padding: 12px;
  }

  .tabcontent.active {
    display: block;
  }
}

/* Style for Mobile (screen widths smaller than 960px) */
@media screen and (max-width: 960px) {
  /* Stack the buttons vertically */
  .tab {
    display: block;
  }

  .tab button {
    pointer-events: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  /* Display all tab content in sequence */
  .tabcontent {
    display: block;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 10px;
  }
}
